
.drop
        display: flex
       
        position: fixed
        flex-direction: column
        align-content: center
        justify-items: center
        flex-wrap: wrap
        height: min-content
        background: linear-gradient(215.89deg, #D6D6D6 4.52%, rgba(214, 214, 214, 0) 94.57%)
        border-radius: 34.5px
        font-size: 2.7813rem
        @include media(1440)
            width: 40%
            padding: 6rem 5rem
            margin-top: 1rem
            margin-left: 2.5rem
        @include media(1024)
            width: 30%
            padding: 4rem 5rem
            margin-top: 1rem
            margin-left: 2rem
        @include media(768)
            font-size: 2rem
            width: 30%
            padding: 5rem 5rem
            margin-top: 1rem
            margin-left: 2rem
            
        
        & .mean
          
            font-weight: 400
            text-align: center
        & .drag
            text-align: center
            
            font-weight: 300

        & .plus
            margin: auto
            width: 6.9375rem
            height: 6.9375rem
           