.menu
    display: flex
    background: $color-violet
    
    flex-direction: row
    & a
        color: white
        font-size: 1.625rem
        font-weight: 400
        text-decoration: none
        padding: 2.0625rem 2.8125rem
        &:hover
            
            background: $marker
    & nav
        
        display: flex
        justify-content: space-around
        @include media(768)
            width: 60%
        @include media(1440)
            width: 40%
    & .pc
        margin-right: 0
        margin-left: auto
        display: flex
        & .avatar
            width: 2.8125rem
            height: 2.8125rem
        