.searchBody
    display: flex
    flex-direction: row
    position: relative
    padding: 0 1.25rem
    background: $grey
    height: 1000000px
    & .table
        position: relative
        width: 60%
        @include media(768)
            width: 60%
        @include media(1024)
            width: 60%
        
        & .string
            padding: .3125rem 0
            color: white
            text-transform: uppercase
            &:nth-child(odd)
                background: $blue
            &:nth-child(even)
                background: $marker
                
            & .del
                font-size: 1.25rem
                font-weight: 600
                margin-left: 7rem
            display: flex
            position: relative
            flex-direction: row
            align-items: center
            font-size: 1.4063rem
            &>*
                margin-left: 2.5rem
                height: min-content
            & .Y
                margin-left: 5rem
      
          
            
                
                
    & .cont
        position: relative
        width: 50%
    
    