.sort
    width: 100%
    background: $color-black
    
    & .sortbody
        color: white
        display: flex
        width: 70%
        & .s1
            margin-left: 19rem
        & .s2
            margin-left: 8rem
        & .s3
            margin-left: 2rem
        &>*
            display: flex
            & p
                margin-left: .5rem
            & img
                width: 2rem